<?xml version='1.0' encoding='utf-8'?>
<widget id="com.getkana.kana" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kana</name>
    <description>
        Learning the syllabaries is the first step for successful japanese learning. Master the hiragana and katakana in no time with Kana!
    </description>
    <author email="jair@jairtrejo.mx" href="http://jairtrejo.mx">
        Jair Trejo
    </author>
    <content src="index.html" />
    <access origin="http://getkana.com" />

    <engine name="ios" spec="~3.9.2" />
    <engine name="android" spec="~4.1.1" />

    <preference name="Orientation" value="portrait" />
    <preference name="prerendered-icon" value="false" />
    <preference name="DisallowOverscroll" value="true"/>

    <!-- Icons & Splash screens -->
    <platform name="ios">
        <!-- iOS 8 iPhone 6 plus -->
        <icon src="www/images/apple-touch-icon-180x180.png" width="180" height="180"/>
        <!-- iOS 7 iPad (retina) -->
        <icon src="www/images/apple-touch-icon-152x152.png" width="152" height="152"/>
        <!-- iOS 6 iPad (retina) -->
        <icon src="www/images/apple-touch-icon-144x144.png" width="144" height="144"/>
        <!-- iOS 7 iPhone (retina) -->
        <icon src="www/images/apple-touch-icon-120x120.png" width="120" height="120"/>
        <!-- iOS 6 iPhone (retina) -->
        <icon src="www/images/apple-touch-icon-114x114.png" width="114" height="114"/>
        <!-- iOS 7 iPad -->
        <icon src="www/images/apple-touch-icon-76x76.png" width="76" height="76"/>
        <!-- iOS 6 iPad -->
        <icon src="www/images/apple-touch-icon-72x72.png" width="72" height="72"/>
        <!-- iOS 6 iPhone -->
        <icon src="www/images/apple-touch-icon-57x57.png" width="57" height="57"/>

        <!-- Splash -->
        <splash src="res/apple-touch-startup-image-320x480.png" width="320" height="480"/>
        <splash src="res/apple-touch-startup-image-320x480@2x.png" width="640" height="960"/>
        <splash src="res/apple-touch-startup-image-768x1024.png" width="768" height="1024"/>
        <splash src="res/apple-touch-startup-image-768x1024@2x.png" width="1536" height="2048"/>
        <splash src="res/apple-touch-startup-image-1024x768.png" width="1024" height="768"/>
        <splash src="res/apple-touch-startup-image-1024x768@2x.png" width="2048" height="1536"/>
        <splash src="res/apple-touch-startup-image-568h@2x.png" width="640" height="1136"/>
        <splash src="res/apple-touch-startup-image-667h.png" width="750" height="1334"/>
        <splash src="res/apple-touch-startup-image-736h.png" width="1242" height="2208"/>
        <splash src="res/apple-touch-startup-image-landscape-736h.png" width="2208" height="1242"/>
    </platform>
    <platform name="android">
        <icon src="www/images/android-touch-icon-192x192.png" />
    </platform>
</widget>
