@import "prefixer";
@import "includes/bootstrap";
@import "includes/material";
@import "includes/animations";

@accent-color: #FF4081;
@background-color: #DADADA;

body{
    padding-top: 70px;
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
}

nav.navbar{
    .BoxShadowHelper(2);
}

.navbar-right{
    float: right;
}
.navbar-header{
    float: left;
}

.navbar-brand{
    font-weight: bold;
}

.card(@level){
    .BoxShadowHelper(@level);
    background-color: #FFF;
}

.scrollable{
    overflow-y: scroll;
}

/*
 * Game
 */

.question{
    font-size: 9.5em;
    text-align: center;
    text-transform: uppercase;

    &.wrong{
        .shake-target !important;
    }
}

.answer{
    .btn-link;
    .btn-block;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    &:hover, &:active, &:focus{
        text-decoration: none !important;
        outline: none !important;
    }
}

.is-visible{
    .question{
        .jelly-target;
    }
    .answer{
        .bounce-up-target;
    }
}

.answer[disabled]{
    color: darken(@background-color, 10%);
}


.correct .answer{
    color: #000;
    font-weight: bold;
    .smack-target;
}

.correct .question{
    .smack-target;
}

nav .fa{
    font-size: 20px;
}

.footer p{
    text-align: center;
    padding-top: 15px;
}

/*
 * Settings
 */

.settings{
    .card(4);
    position: absolute;
    top: 70px;
    margin-left: -15px;
    width: 100%;
    z-index: 1;

    .come-down-target;

    &.leave{
        .go-up-target;
    }

    h2 {
        background-color: darken(@background-color, 10%);
        margin-top: 0;
        padding: 20px 0 20px 15px;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
    }

    .kana-row{
        margin: 0;
        cursor: pointer;
    }

    .kana-table{
        max-height: 500px;
    }

    .learning-status-column{
        text-align: center;
    }

    .learning-status{
        .btn-block;
        padding: 0;
        font-size: 32px;
    }

    .fa-check-circle{
        color: #8BC34A;
    }

    .fa-minus-circle{
        color: darken(@background-color, 10%);
    }

    .fa-times-circle{
        color: #EF5350;
    }

    .kana{
        font-weight: bold;
        letter-spacing: 5px;
    }

    .explanation{
        .text-muted;
        text-transform: uppercase;
        font-size: 80%;
        border-bottom: solid 1px #DDD;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}


/*
 * Media queries
 */

@media(min-width:992px){
    .container{
        width: 400px;
        margin: 0 auto;
    }

    .game{
        .card(2);
    }

    .question{
        height: 250px;
        padding-top: 100px;
        margin-bottom: 100px;
    }

    .settings{
        top: 60px;
        width: 400px;

        .learning-status{
            font-size: 28px;
        }
    }

    body{
        background-color: @background-color;
    }
}

@media(max-width:991px){
    .answers{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -15px;
    }
    .question{
        position: fixed;
        top: 50%;
        left: 50%;
        height: 250px;
        line-height: 250px;
        width: 300px;
        margin-left: -150px;
        margin-top: -125px;
    }
}
