@import "includes/bootstrap";
@import "includes/material";

@accent-color: #FF4081;
@background-color: #DADADA;

body{
    padding-top: 70px;
    background-color: @background-color;
}

@media(min-width:992px){
    .container{
        width: 400px;
        margin: 0 auto;
    }
}

.navbar-brand{
    font-weight: bold;
}

.game{
    .BoxShadowHelper(2);
    background-color: #FFF;
}

.messages{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: right;
    padding: 0 10px;
}

.question{
    font-size: 10em;
    text-align: center;
    min-height: 250px;
    text-transform: uppercase;
    padding: 20px 0 50px 0;
}

.answer{
    .btn;
    .btn-link;
    width: 14%;
    margin: 0 5% 30px 4%;
    text-transform: uppercase;
    font-weight: bold;
    &:hover, &:active, &:focus{
        text-decoration: none !important;
    }
}

.answer[disabled]{
    color: darken(@background-color, 10%);
}

.answer.correct{
    color: #000;
    font-weight: bold;
}

.fa-cog{
    font-size: 20px;
}

.footer p{
    text-align: center;
    padding-top: 15px;
}

nav.navbar{
    .BoxShadowHelper(2);
}

.navbar-right{
    float: right;
}
.navbar-header{
    float: left;
}
