<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>Kana</title>
    <!-- bower:css -->
    <!-- endinject -->
    <link href="css/main.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Kana</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-cog"></i></a></li>
            </ul>
        </div>
    </nav>
    <div id="app" class="container">
    </div>
    <div class="footer">
        <div class="container">
            <p>By <a href="http://jairtrejo.mx">Jair Trejo</a></p>
        </div>
    </div>
    <!-- bower:js -->
    <!-- endinject -->
    <script id="question-template" type="text/template">
        <div class="messages">
            <i id="correct" class="fa fa-check hidden"></i>
        </div>
        <div class="question">
            <%- question %>
        </div>
        <% _.each(choices, function(choice, i){%>
            <button data-choice="<%- i %>" class="answer" type="button"><%- choice %></button>
        <%});%>
    </script>
    <script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>
